{% extends "bootstrap/base.html" %}
{% block styles %}
{{super()}} {# gets bootstrap styles #}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}
{% block content %}
<head>
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#kronos-navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Kronos</a>
      </div>
      <div class="collapse navbar-collapse" id="kronos-navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="{{ url_for('schedule') }}">Schedule</a></li>
          <li><a href="{{ url_for('search') }}">Search</a></li>
          <li><a href="#">Upload</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if not session.get('user_id') %}
            <li><a href="{{ url_for('login') }}">Login</a></li>
          {% else %}
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
</head>
{% endblock %}
