{% extends "bootstrap/base.html" %}
{% block styles %}
{{ super() }}
{% endblock %}
{% block scripts %}
{{super()}}
<script src="{{url_for('.static', filename='oralweeks.js')}}"></script>
{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class='col-md-1'></div>
  <form class='col-md-10' method="POST">
    <h4>Oral start days</h4>
    {% for day in oralstarts %}
      <div class="row">
        <div class="form-group col-sm-4">
          <input name="desc--{{day.id}}" class="form-control" type='text' placeholder="Name (ie Spring 2016)" value="{{day.description}}"></input>
        </div>
        <div class="form-group col-sm-4">
          <input name="date--{{day.id}}" class="form-control" type='date' placeholder="Start day of orals week (ie 04/30/2016)" value="{{day.start}}"></input>
        </div>
        <div class="col-sm-2">
          <button id="rm--{{day.id}}" type="button" class="btn btn-default btn-sm rm-btn" data-form-row-counter=1>
            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
          </button>
        </div>
      </div>
      <input name="remove--{{day.id}}"class="hidden rm-field" type="text" value="True"></input>
    {% endfor %}
    <div class="row form-group">
      <div class="col-sm-2">
        <button id="add" type="button" class="btn btn-default btn-sm" data-form-row-counter=1>
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
      </div>
    </div>
    <input type="submit" class="btn btn-default" ></input>
  </form>
  <div class='col-md-1'></div>
</div>
<div id="copy-row" class="hidden">
  <div class="row">
    <div class="form-group col-sm-4">
      <input name="desc-0" class="form-control" type='text' placeholder="Name (ie Spring 2016)"></input>
    </div>
    <div class="form-group col-sm-4">
      <input name="date-0" class="form-control" type='date' placeholder="Start day of orals week (ie 04/30/2016)"></input>
    </div>
    <div class="col-sm-2">
      <button id="rm-0" type="button" class="btn btn-default btn-sm rm-btn" data-form-row-counter=1>
        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
      </button>
    </div>
  </div>
</div>
{% endblock %}
