{% extends "bootstrap/base.html" %}
{% block styles %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <table class="table table-bordered">
      {% for row in oraltable %}
        <tr>
        {% for cell in row %}
        {% if cell == "h" or cell == "c" %}
        {% else %}
          {% if row[0] == "h" %}<th class="success">{{cell |safe}}</th>
          {% else %}<td>{{cell}}</td>{% endif %}
        {% endif %}
        {% endfor %}
        </tr>
      {% endfor %}
      </table>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
{% endblock %}
