{% extends "bootstrap/base.html" %}
{% block title %}Kronos{% endblock %}
{% block styles %}
{{super()}}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel="stylesheet" href="{{url_for('.static', filename='schedule.css')}}">
<style type="text/css" media="print">
.dontprint {
    display: none;
}
</style>
{% endblock %}
{% block scripts %}
{{super()}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  $("#stu-select").select2({
    placeholder: "Students"
  });
  $("#prof-select").select2({
    placeholder: "Professors"
  });
});
</script>
{% endblock %}
{% block content %}
<div class="well dontprint">
  <div class="row form-group">
    <div class="col-md-12">
      <select id="prof-select" class="user-select" multiple="multiple">
        <option value="JE">Jon Essick</option>
        <option value="PS">Pancho Savery</option>
        <option value="MM">Margo Minardi</option>
        <option value="LL">Laura Leibman</option>
        <option value="JD">Jay Dickson</option>
        <option value="DS">Darrel Schroder</option>
      </select>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-12">
      <select id="stu-select" class="user-select" multiple="multiple">
        <option value="AG">Alex Grant</option>
        <option value="LK">Laura Klinkner</option>
        <option value="AC">Alex Chao</option>
        <option value="LC">Lauren Cooper</option>
        <option value="ES">Edmond Soun</option>
        <option value="HT">Haley Tilt</option>
      </select>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-6">
      <select class="form-control">
        <option selected="" disabled="">Department</option>
        {% for dept in department %}
        <option>{{ dept }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-md-6">
      <select class="form-control">
        <option selected="" disabled="">Division</option>
        {% for div in division %}
        <option>{{ div }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <table class="table table-bordered">
    {% for slot in timeslots %}
      <tr>
      {% for day in days %}
        <th>
          {{ (start + slot + day).strftime("%A, %B %d <br> %I:%M -") |safe }}
          {{ (start + slot + orallength).strftime("%I:%M") }}
        </th>
      {% endfor %}
      </tr>
      <tr>
      {% for x in range(0,6) %}
        <td>Laura Klinkner<br>Savery - Vollum 228<br>Minardi<br>Leibman<br>Rork</td>
      {% endfor %}
      </tr>
    {% endfor %}
    </table>
  </div>
  <div class="col-md-1"></div>
</div>
{% endblock %}
