{% extends "base.html" %}
{% block title %}Kronos{% endblock %}

{% block styles %}
{{super()}} {# gets bootstrap styles #}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" href="{{url_for('static', filename='css/schedule.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/fullcalendar.min.css')}}" >
<link rel="stylesheet" href="{{url_for('static', filename='css/fullcalendar.print.css')}}" media='print' >
<link rel="stylesheet" href="{{url_for('static', filename='css/jquery.qtip.min.css')}}" >
{% endblock %}

{% block scripts %}
{{super()}} {# gets bootstrap scripts #}
<script>
{# passing variable from server so they can be used in shedule.js #}
var startday = "{{startday.strftime('%Y-%m-%d')}}";
var edit = {{ edit }};
</script>
<script src="{{url_for('static', filename='js/moment.min.js')}}"></script>
<script src="{{url_for('static', filename='js/fullcalendar.min.js')}}" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script src="{{url_for('static', filename='js/jquery.jeditable.mini.js')}}" ></script>
<script src="{{url_for('static', filename='js/jquery.qtip.min.js')}}" ></script>
<script src="{{url_for('static', filename='js/jquery.jeditable.time.js')}}" ></script>
<script src="{{url_for('static', filename='js/schedule.js')}}"></script>
{% endblock %}

{% block content %}
<div class="well hidden-print" id="filter-well">
  {# This form sends the fields as a querystring to /print so that the schedule is filtered #}
  <form action="{{ url_for('print_schedule') }}">
    <div class="row form-group">
      <div class="col-md-12" id="prof-select-container">
        <select id="prof-select" name='professors[]' class="user-select" multiple="multiple">
          {% for prof in professors %}
          <option value={{ prof.id }}>{{ prof.name }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-12">
        <select id="stu-select" name='students[]' class="user-select" multiple="multiple">
          {% for stu in students %}
          <option value={{ stu.id }}>{{ stu.name }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-6">
        <div class='input-group'>
          <select id="department" name='department' class="form-control">
            <option selected="" disabled="" class="default">Department</option>
            {% for dept in department %}
            <option>{{ dept }}</option>
            {% endfor %}
          </select>
          <span class="input-group-btn">
            <button class="btn btn-default clr-btn" type="button" data-select='#department'>
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>
          </span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-group">
          <select id="division" name='division' class="form-control">
            <option selected="" disabled="" class="default">Division</option>
            {% for div in division %}
            <option>{{ div }}</option>
            {% endfor %}
          </select>
          <span class="input-group-btn">
            <button class="btn btn-default clr-btn" type="button" data-select="#division">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>
          </span>
        </div>
      </div>
    </div>
    {# hidden formfields so print page gets date range from fullcalendar #}
    <input id="filter-start" name="start"type="hidden"></input>
    <input id="filter-end" name="end" type="hidden"></input>
    <div class="row">
      <div class='col-md-12'>
        <button id='print-button' formmethod='get' class="btn btn-default pull-right">Print</button>
      </div>
    </div>
  </form>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div id='calendar'></div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row"><div class="col-md-12"></div></div>
  <div class="row">
    <div class="col-sm-12">
      <form class="form-inline" method="GET">
        <div class="form-group">
          <label for="yearpicker">View another year:</label>
          <select name="startday" id="yearpicker" class="form-control input-sm">
            {% for day in startdays %}
              <option value={{day.id}}>{{day.description}}</option>
            {% endfor %}
          </select>
        </div> 
        <div class="form-group">
          <button type="submit" class="btn btn-default btn-sm">Go!</button>
        </div>
      </form>
    </div>
  </div>
  <div class="row"><div class="col-md-12"></div></div>
</div>
{# hidden fields that are copied for qtips #}
<div class="hidden" id="oral-qtip-template">
  <div class="row">
    <div class="col-xs-4">
      When:
    </div>
    <div class="col-xs-8">
      {# the javascript searches for and replaces these tags with the braces #}
      <span class="edit-start">{start}</span>
      -
      <span class="edit-end">{end}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      Student:
    </div>
    <div class="col-xs-8">
      <span class="edit-student">{student}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      Readers:
    </div>
    <div class="col-xs-8">
      <span class="edit-readers">{readers}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      Where:
    </div>
    <div class="col-xs-8">
      <span class="edit-location">{location}</span>
    </div>
  </div>
  <div class="row">
    <div class='col-xs-12'>
      <button class="hidden edit-delete-event btn btn-danger">Delete</button>
    </div>
  </div>
</div>
<div class="hidden" id="event-qtip-template">
  <div class="row">
    <div class="col-xs-4">
      When:
    </div>
    <div class="col-xs-8">
      <span class="edit-start">{start}</span>
      -
      <span class="edit-end">{end}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      Who:
    </div>
    <div class="col-xs-8">
      <span class="edit-user">{user}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      Where:
    </div>
    <div class="col-xs-8">
      <span class="edit-location">{location}</span>
    </div>
  </div>
  <div class="row">
    <div class='col-xs-12'>
      <button class="hidden edit-delete-event btn btn-danger">Delete</button>
    </div>
  </div>
</div>
<div class="hidden" id="add-event-oral-qtip-template">
  <div class="list-group">
    <button id="new-event" type="button" class="list-group-item" onclick="addEvent({start},{end},'event');">New Event</button>
    <button id="new-oral"  type="button" class="list-group-item" onclick="addEvent({start},{end},'oral');">New Oral</button>
    <button id="cancel"    type="button" class="list-group-item" onclick="cancel();">Cancel</button>
  </div>  
</div>
{% endblock %}
