{% extends "base.html" %}
{% block title %}Search{% endblock %}
{% block content %}
<div class="container">
  <h4>Search for Professors</h4>
  <form class="form-inline" method="GET">
    <div class="form-group">
      <label for="start">Start</label>
      <input type="datetime-local" class="form-control" id="start" name="start">
    </div>
    <div class="form-group">
      <label for="end">Start</label>
      <input type="datetime-local" class="form-control" id="end" name="end">
    </div>
    <button type="submit" class="btn btn-default">Go!</button>
  </form>
  {% if profs != [] %}
    <h4>Professors available:</h4>
    <p>
      {% for prof in profs %}
        {{prof.name}}<br>
      {% endfor %}
    </p>
  {% endif %}
</div>
{% endblock %}
