{% extends "bootstrap/base.html" %}

{% block scripts %}
{{super()}}
<script src="{{url_for('.static', filename='upload.js')}}"></script>
{% endblock %}

{% block content %}
<body>

  <h2>Calendar Upload</h2>
  <form>
    Choose file to upload.
    Kronos can import files with extension .xls, .xlsx, .csv or .ics.
    <input type="file" id="file" accept=".xls, application/vnd.ms-excel, .xlsx,
    application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, .ics"
    onchange="checkfile(this);" />
    <input type="submit" name="submit" value="Submit">
  </form>

</body>
{% endblock %}
