
.table th {
    background-color: #90C695 !important;
    color: #151515 !important;
    -webkit-print-color-adjust: exact;

}
th {
    font-size: small;
}
td {
    font-size: x-small;
}
b {
    font-size: small;
}

.table table, .table th, .table td {
    border-color: #151515 !important;
}

