.label-input-group {
    position: absolute;
  	z-index: 1000;
    left: 27px;
    top: 6px;
}
  
.time-text {
    float: none;
    display: table-cell;
    vertical-align: bottom;
}

.well {
	border-radius: 0 !important;    
}

.chosen-disabled {
            opacity: 1 !important;
}

span.select2.select2-container {
    width: 100% !important;
}

a:focus {
    color: #fff;
    text-decoration: none;
}

.popover {
    max-width:none;
    white-space: nowrap;
}

.hidden {
    display: none;
}

.cal-qtip {
    min-width: 270px !important;
}

.new-event-qtip {
    padding: 0px !important;
}

.new-event-qtip > .qtip-content {
    padding: 0px !important;
}

.new-event-qtip > .qtip-content > .list-group {
    margin-bottom: 0px !important;
}

.new-event-qtip > .qtip-content > .list-group > .list-group-item {
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
}

.new-event-qtip > .qtip-content > .list-group > #new-event {
    /* since new-event is at the top */
    border-top-width: 0px; 
}
.select2-dropdown{
    z-index: 9999999999999;
}

